*,
html,
body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  background-color: rgb(20, 20, 196);
}
header {
  /* Background color included incase image doesn't load */
  background-color: rgb(20, 20, 196);
  background-image: url("uhura.jpg");
  background-image: url("guinan.jpg");
  background-image: url("janeway.jpg");
  /* background-size: cover; */
  background-position: center top;
  background-blend-mode: difference;
  color: white;
  padding-top: 50px;
  padding-bottom: 200px;
}

a {
  color: fuchsia;
  font-weight: 700;
}
.backgroundimages {
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
