*html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.backgroundimages {
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;

}
